language: java

jdk:
  - oraclejdk8

addons:
  apt:
    packages:
      - oracle-java8-installer

before_install:
- wget https://archive.apache.org/dist/maven/maven-3/3.5.0/binaries/apache-maven-3.5.0-bin.zip
- unzip -qq apache-maven-3.5.0-bin.zip
- export M2_HOME=$PWD/apache-maven-3.5.0
- export PATH=$M2_HOME/bin:$PATH

cache:
  directories:
  - $HOME/.m2/repository
install: /bin/true
script:
- cd com.patrickneubauer.examples.tycho
- mvn clean verify
